@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
    background: #F9F9F9;
    font-family: 'Inter', sans-serif;
}

header{
    background: #FFFFFF;
    box-shadow: 0 6px 12px #DDDDDD;
    position: fixed;
    width: 100%;
    z-index: 9999;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 17px 32px;
        .left-header{
            display: flex;
            flex-basis: auto;
            ul{
                display: flex;
                align-items: center;
                margin: 0;
                .list{
                    list-style: none;
                    margin-right: 29px;
                    a{
                        color: #000000;
                        outline: 0;
                        text-decoration: none;
                        font-size: 16px;
                        &:hover{
                            color: #EA5607;
                        }
                    }
                      /*
                    .nav-toggle{
                        &::after{
                            content: "";
                            display: inline-block;
                            border: solid #000;
                            border-width: 0 1.4px 1.4px 0;
                            padding: 2.5px;
                            margin-left: 0.455em;
                            vertical-align: 0.140em;
                            transform: rotate(45deg);
                        }
                        &:hover{
                            &::after{
                                border-color: #EA5607;
                                transform: rotate(225deg);
                                vertical-align: 0.09em;
                            }
                        }
                    }*/
                }
            }
        }
        .right-header{
            display: flex;
            flex-basis: auto;
            ul{
                display: flex;
                align-items: center;
                margin: 0;
                .list{
                    list-style: none;
                    margin-right: 29px;
                    &:nth-last-child(1){
                        margin-right: 0;
                    }
                    a{
                        color: #000000;
                        outline: 0;
                        text-decoration: none;
                        font-size: 16px;
                        &:hover{
                            color: #EA5607;
                        }
                    }
                    .account{
                        display: flex;
                        align-items: center;
                        background: #EA5607;
                        padding: 10px 15px;
                        color: #FFFFFF;
                        border-radius: 3px;
                        &:hover{
                            background: darken(#EA5607, 2%);
                            color: #FFFFFF;
                        }
                    }
                    .language{
                        display: flex;
                        align-items: center;
                        background: #F2F2F2;
                        color: #000000;
                        border-radius: 3px;
                        padding: 10px 12px;
                        img{
                            margin-right: 5px;
                        }
                        &:hover{
                            background: darken(#F2F2F2, 2%);
                        }
                    }
                    .bell{
                        position: relative;
                        img{
                            max-width: 24px;
                        }
                        &::before{
                            content: "";
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0px;
                            left: 14px;
                            background: #EA5607;
                            border: 2px solid #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.support-section{
    padding: 40px 32px;
    .container{
        background: #FFFFFF;
        padding: 40px 32px;
        margin-top: 80px;
        .no-support{
            .left-section{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .tether-image{
                    margin-right: 24px;
                }
                .tether{
                    display: block;
                    flex-direction: column;
                    margin-right: 45px;
                    .tether-title{
                        color: #000000;
                        display: block;
                    }
                    .usdt{
                        color: #9B9B9B;
                    }
                }
                .info-message{
                    padding: 11px 30px;
                    color: #6A6A6A;
                    border: solid 1px #F2F2F2;
                    border-radius: 20px;
                    vertical-align: top;
                    font-size: 14px;
                    img{
                        max-width: 20px;
                    }
                }
            }
            .right-section{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .share{
                    padding: 15px 40px;
                    color: #383838;
                    background: transparent;
                    border: 2px solid #e4e4e4;
                    margin-right: 16px;
                    border-radius: 3px;
                    &:hover{
                        background: darken(#383838, 2%);
                        color: #FFFFFF;
                        transition: all 300ms;
                        border: 2px solid #383838;
                    }
                }
                .watch-list{
                    padding: 15px 32px;
                    color: #EA5607;
                    background: transparent;
                    border: 2px solid #EA5607;
                    border-radius: 3px;
                    &:hover{
                        background: darken(#EA5607, 2%);
                        color: #FFFFFF;
                        transition: all 300ms;
                    }
                }
            }
            .bar-colon{
                padding: 0;
            }
        }
    }
}

.graphic-section{
    .left-bar{
        .graphic-table{
            display: block;
            background: #FFFFFF;
            padding: 20px 0 0 0;
            margin: 0;
            .data{
                padding: 0 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                .rise{
                    font-size: 16px;
                    color: #03A66D;
                    .percentile{
                        padding-left: 140px;
                    }
                }
                .times{
                    font-size: 12px;
                    color: #CBCBCB;
                    margin-left: auto;
                    span{
                        margin-right: 16px;
                        &:last-child{
                            margin-right: 0;
                        }
                        &.active{
                            color: #EA5607;
                        }
                    }
                }
            }
            .price{
                padding: 0 30px;
                margin-top: -7px;
                margin-bottom: 58px;
                span{
                    font-size: 39px;
                    color: #1A1A1A;
                }
            }
            .graphic-screen{
                img{
                    width: 100%;
                }
            }
        }
        .analytic-data{
            margin: 0;
            padding: 0;
            .data-analysis{
                display: flex;
                justify-content: space-between;
                background-color: #FFFFFF;
                margin: 32px 0;
                padding: 32px;
                .volume{
                    display: block;
                    justify-content: center;
                    .volume-hour{
                        .volume-title{
                            margin-right: 10px;
                            font-size: 16px;
                            color: #6A6A6A;
                        }
                        .hour{
                            font-size: 14px;
                            border-radius: 2px;
                            background-color: #F2F2F2;
                            padding: 1px 5px;
                            color: #BFBFBF;
                        }
                    }
                    .volume-data{
                        font-size: 20px;
                        color: #000000;
                    }
                }
                .price-change{
                    display: block;
                    justify-content: center;
                    .volume-hour{
                        .volume-title{
                            margin-right: 10px;
                            font-size: 16px;
                            color: #6A6A6A;
                        }
                        .hour{
                            font-size: 14px;
                            border-radius: 2px;
                            background-color: #F2F2F2;
                            padding: 1px 5px;
                            color: #BFBFBF;
                        }
                    }
                    .percentile{
                        .volume-data{
                            font-size: 20px;
                            color: #000000;
                        }
                        .drop{
                            font-size: 16px;
                            color: #F84960;
                        }
                    }
                }
                .lowest{
                    .volume-hour{
                        .volume-title{
                            margin-right: 10px;
                            font-size: 16px;
                            color: #6A6A6A;
                        }
                        .hour{
                            font-size: 14px;
                            border-radius: 2px;
                            background-color: #F2F2F2;
                            padding: 1px 5px;
                            color: #BFBFBF;
                        }
                    }
                    .volume-data{
                        font-size: 20px;
                        color: #000000;
                    }
                }
                .highest{
                    .volume-hour{
                        .volume-title{
                            margin-right: 10px;
                            font-size: 16px;
                            color: #6A6A6A;
                        }
                        .hour{
                            font-size: 14px;
                            border-radius: 2px;
                            background-color: #F2F2F2;
                            padding: 1px 5px;
                            color: #BFBFBF;
                        }
                    }
                    .volume-data{
                        font-size: 20px;
                        color: #000000;
                    } 
                }
            }
        }
    }
    .right-bar{
        padding-left: 40px;
        padding-right: 0;
        .content{
            background: #fff;
            padding: 16px;
            .search{
                position: relative;
                input{
                    width: 100%;
                    outline: 0;
                    background: #FCFCFC;
                    border: 1px #707070;
                    padding: 8px 35px
                }
                img{
                    position: absolute;
                    top: 14px;
                    left: 12px;
                    cursor: pointer;
                }
            }
            .coin-list{
                .ripple{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 24px 0;
                    .ripple-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .ripple-title{
                            .ripple-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .xrp{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                    }
                }
                .bittorrent{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 24px 0;
                    .bittorrent-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .bittorrent-title{
                            .bittorrent-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .btt{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                        .rise{
                            font-size: 16px;
                            color: #03A66D;
                        }
                    }
                }
                .bitcoin-cash{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 24px 0;
                    .bitcoin-cash-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .bitcoin-cash-title{
                            .bitcoin-cash-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .bch{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                        .rise{
                            font-size: 16px;
                            color: #03A66D;
                        }
                    }
                }
                .ethereum{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 24px 0;
                    .ethereum-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .ethereum-title{
                            .ethereum-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .eth{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                        .rise{
                            font-size: 16px;
                            color: #03A66D;
                        }
                    }
                }
                .digibyte{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 24px 0;
                    .digibyte-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .digibyte-title{
                            .digibyte-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .dgb{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                        .rise{
                            font-size: 16px;
                            color: #03A66D;
                        }
                    }
                }
                .holo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 24px 0;
                    .holo-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .holo-title{
                            .holo-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .hot{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                        .rise{
                            font-size: 16px;
                            color: #03A66D;
                        }
                    }
                }
                .litecoin{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .litecoin-detail{
                        display: flex;
                        img{
                            margin-right: 16px;
                        }
                        .litecoin-title{
                            .litecoin-text{
                                display: block;
                                font-size: 16px;
                                color: #1A1A1A;
                            }
                            .ltc{
                                font-size: 14px;
                                color: #9B9B9B;
                            }
                        }
                    }
                    .data{
                        text-align: end;
                        .price{
                            display: block;
                            font-size: 16px;
                            color: #1A1A1A;
                        }
                        .drop{
                            font-size: 14px;
                            color: #F84960;
                        }
                        .rise{
                            font-size: 16px;
                            color: #03A66D;
                        }
                    }
                }
            }
        }
    }
}

.content-section{
    .message-box{
        position: relative;
        .message-shadow{
           position: absolute;
           left: 0;
           bottom: 0;
           img{
               width: 100%;
           }
        }
    }
    .message-box-2{
        position: relative;
    }
    .read-more{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #EA5607;
        font-size: 16px;
        font-weight: medium;
        &::after{
            content: "";
            display: inline-block;
            border: solid #EA5607;
            border-width: 0 1.4px 1.4px 0;
            padding: 2.5px;
            margin-left: 0.455em;
            vertical-align: 0.140em;
            transform: rotate(45deg);
        }
        &:hover{
            &::after{
                border-color: #EA5607;
                transform: rotate(225deg);
                vertical-align: 0.09em;
            }
        }
    }
    .price-statistics{
        padding-left: 40px;
        padding-right: 0;
        .statistics-data{
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            padding: 17px 32px;
            .hood{
                font-size: 20px;
                color: #000000;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .tether-title{
                font-size: 14px;
                color: #707070;
                margin-bottom: 9px;
            }
            .tether-data{
                font-size: 16px;
                margin-bottom: 16px;
            }
            .market-value{
                font-size: 14px;
                color: #707070;
                margin-bottom: 9px;
            }
            .market-data{
                font-size: 16px;
                margin-bottom: 16px;
            }
            .min-max{
                display: flex;
                .minimal-maximum{
                    font-size: 14px;
                    color: #707070;
                    margin-bottom: 9px;
                    margin-right: 50px;
                }
                .days{
                    color: #B1B1B1;
                    font-size: 12px;
                    padding: 1px 13px 3px 13px;
                    background: #F2F2F2;
                    border-radius: 2px;
                    max-height: 23px;
                }
            }
            .min-max-value{
                font-size: 16px;
                margin-bottom: 16px;
            }
            .all-time-hight{
                font-size: 14px;
                color: #707070;
                margin-bottom: 9px;
            }
            .all-time-low{
                font-size: 14px;
                color: #707070;
                margin-bottom: 9px;
            }
            .value-percentile{
                display: flex;
                .value{
                    font-size: 16px;
                    margin-bottom: 16px; 
                    margin-right: 10px;
                }
                .drop{
                    font-size: 16px;
                    color: #F84960;
                }
                .rise{
                    font-size: 16px;
                    color: #03A66D;
                }
            }
            .total-supply{
                font-size: 14px;
                color: #707070;
                margin-bottom: 9px;
            }
            .supply-value{
                font-size: 16px;
                margin-bottom: 16px;
            }
            .max-supply{
                font-size: 14px;
                color: #707070;
                margin-bottom: 9px;
            }
            .supply-data{
                font-size: 16px;
                margin-bottom: 16px;
            }
        }
    }
}

.info-section{
    margin-top: 53px;
    padding: 0;
    .text{
        font-size: 14px;
        color: #6A6A6A;
    }
}

.fw-footer {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 70px;
    padding: 65px 0 20px 0;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    .bitci-logo {
      display: flex;
      justify-content: flex-start;
      svg,
      img {
        width: 201px;
        height: 54.1px;
        margin-bottom: 10.9px;
      }
    }
    .f-info {
      font-weight: 300;
      margin-bottom: 18px;
      text-align: left;
      color: #000000a6;
    }
    address {
      font-weight: 500;
      text-align: left;
      margin-bottom: 20.5px;
      color: #000000a6;
    }
    .social {
      display: flex;
      justify-content: flex-start;
      a {
        text-decoration: inherit;
        i {
          color: #000000a6;
          font-size: 22px;
          margin-right: 20px;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    .nav-t {
      color: #000000;
      font-weight: bold;
      margin-bottom: 17px;
      font-size: 20px;
    }
    .row {
      .nav {
        .nav-item {
          .nav-link {
            padding: 0;
            font-weight: 400;
            line-height: 35px;
            font-size: 14px;
            color: #6A6A6A;
            &:hover {
              color: rgb(37, 37, 37);
            }
          }
        }
      }
    }
    .language{
        .col-12{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 0 0 0;
            margin: 30px 0 -20px 0;
            border-top: 1px solid #F4F4F4;
             .lang{
            display: flex;
            img{
                margin-right: 8px;
            }
            .tr{
              font-size: 16px;
              color: #000000;
              margin-right: 8px;
            }
            .turkce{
              font-size: 16px;
              color: #9B9B9B;  
            }
            }
        }
    }

    .footer-bottom {
      padding-top: 15px;
      margin-top: 47.5px;
      border-top: 1px solid #F4F4F4;
      .nav {
        justify-content: center;
        .nav-item {
          margin-left: 17.5px;
          margin-right: 17.5px;
          &.fd {
            display: flex;
            align-items: center;
            .line {
              margin: 0 10px;
              color: #0000001c;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1200px) {
    .fw-footer {
      .bitci-logo {
        justify-content: center;
      }
      .f-info {
        text-align: center;
      }
      address {
        text-align: center;
      }
      .social {
        justify-content: center;
      }
    }
  }
  
  @media (max-width: 992px) {
    .fw-footer {
      .footer-top {
        text-align: center;
      }
    }
  }

/* Responsive */

#menu-toggle {
	opacity: 0;
	&:checked {
		~ {
			.menu-btn {
				>span {
					transform: rotate(45deg);
					&::before {
						top: 0;
						transform: rotate(0);
					}
					&::after {
						top: 0;
						transform: rotate(90deg);
					}
				}
			}
			.menu__box {
				visibility: visible;
				left: 0;
			}
		}
	}
}
.menu-btn {
	display: flex;
	align-items: center;
	position: absolute;
	right: 10px;
	top: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
	>span {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
		transition-duration: .25s;
		&::before {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #616161;
			transition-duration: .25s;
			content: '';
			top: -8px;
		}
		&::after {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #616161;
			transition-duration: .25s;
			content: '';
			top: 8px;
		}
	}
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #ffffff;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
    .logo{
        position: absolute;
        top: 24px;
        left: 20px;
    }
}
.menu-item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
	&:hover {
		background-color: #EA5607;
		color: #fff;
	}
}


@media screen and (max-width: 1040px){
    header{
        .navbar{
            padding-bottom: 0;
            .left-header{
                ul{
                    display: none !important;
                }
            }
            .right-header{
                display: none !important;
            }
        }
    }
}
@media screen and (min-width: 1040px){
    .mobile-menu{
        display: none;
    }
}

@media screen and (max-width: 992px){
    .no-support{
      .right-section{
          display: flex;
          justify-content: center!important;
          align-items: center;
          text-align: center;
          align-self: center;
          align-content: center;
      }  
      .left-section{
          margin-bottom: 30px;
          .info-message{
              .info-text{
                  font-size: 12px;
              }
          }
      }
    }
    .graphic-section{
        .right-bar{
            padding: 0 !important;
            margin-bottom: 40px;
        }
        .data{
            display: flex;
            justify-content: space-between !important;
            .times{
                display: none;
            }
            .select-btn{
                .form-select{
                    option {
                        &:not(:checked) {
                            background-color: #fff;
                        }
                        &:checked{
                            background-color: #EA5607;
                            color: #FFFFFF;
                        }
                        &:hover{
                            background-color: #EA5607;
                            color: #FFFFFF;
                        }
                    }
                    &:focus{
                        border: 1px solid #ced4da;
                        outline: 0;
                        box-shadow: none;
                    }
                }
            } 
        }
    }
    .content-section{
        .price-statistics{
            padding: 0 !important;
            margin-top: 40px;
        }
    } 
    .analytic-data{
            .volume-title{
                margin-right: 10px;
                font-size: 12px;
                color: #6A6A6A;
            }
            .hour{
                font-size: 11px;
                border-radius: 2px;
                background-color: #F2F2F2;
                padding: 1px 5px;
                color: #BFBFBF;
            }
            .volume-data{
                font-size: 14px !important;
                color: #000000;
            }
    }
}
@media screen and (min-width: 992px){
    .data{
        .select-btn{
            .form-select{
                display: none;
            }
        } 
    }  
}
.read-more {
    &:before{
        content: attr(on)
    }
}
.read-more.off {
    &:before{
        content: attr(off)
    }
}
@media screen and (max-width: 478px){
    .watch-list{
        padding: 8px 16px !important;
        font-size: 15px;
    }
    .share{
        padding: 8px 20px !important;
        font-size: 15px;
    }
    .info-message{
        display: none;
    }
}
